backports.entry-points-selectable==1.1.1
certifi==2021.10.8
distlib==0.3.3
filelock==3.4.0
gunicorn==20.1.0
pipenv==2021.11.23
platformdirs==2.4.0
six==1.16.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
